/* font-family: "Playfair Display", serif; */
/* font-family: "Poppins", sans-serif; */
:root{
    --branding-color:#6c63ff;
    --secondary-color: #f9f7fe;
    --heading-font-family:"Playfair Display", serif;
    --default-font-family:"Poppins", sans-serif;
}
p{
    font-family: var(--default-font-family);
    font-weight: bold; 
    font-size: 36;
}
.hero h1{
    font-family: var(--heading-font-family); 
    font-weight: bold; 
    font-size: 96;
}
h2{
 font-size :64px; 
    
}
.hero{
    background-color:var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}
.hero p{
    font-family: var(--default-font-family);
    font-weight: bold; 
    font-size: 36;
}
.hero h2{
    font-family: var(--default-font-family); 
    font-weight: normal;
    font-size: 24;
}
.btn-branding{
    background-color:var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px;
}
.btn-branding-outline{
    color: var(--branding-color);
    border-radius: 4px;
    border:1px solid var(--branding-color);
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}
@media(max-width:960px){
    .project description{
        padding: 0;
        text-align:center ;
    }
}
.about-section h1{
    font-family: var(--heading-font-family);
    font-size: 64px;
    font-weight: bold;
    line-height: 80px;

}
.about-section h2{
    font-family: var(--default-font-family);
    font-size: 18px;
    font-weight: bold;
}
.about-section p{
    font-family: var(--default-font-family);
    font-size: 16px;
    font-weight: normal;
}
.about-section{
    padding: 0px;
    text-align: center;
}
.about-section-content{
    margin: 30px;
}
.section{
    font-family: var(--default-font-family);
    font-size: 24px;
    font-weight: bold;
}
.logo{
    max-width: 150px;
}
nav li{
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 10px;
}
nav ul{
    padding: 0;
    margin: 0;
}
nav{
padding:20px 0;
}
nav a{
    text-decoration: none;
    color:#272142 ;
}
nav a:hover{
    color: var(--branding-color);
}
nav li.active a{
    color: var(--branding-color);
}
footer div.email-link{
    color:black;
    font-size: 24px;
}
